// The color scheme to use
// https://colorhunt.co/palette/0c356a0174beffc436fff0ce

// Navy - #0C356A
// Blue - #0174BE
// Yellow - #FFC436
// Wedding - #FFF0CE

$navy: #0c356a;
$blue: #0174be;
$primary: #ffc436;
$yellow: #ffc436;
$wedding: #fff0ce;

@import url(../../node_modules/bootstrap/scss/bootstrap.scss);
